/*___________________________________________________________________________________________________________________*/
    /*___Tablets portait mode____________________________________________________________________________________________*/
    /*___________________________________________________________________________________________________________________*/
    
    @media only screen and (max-width: 1024px) {
    
        .Background{
            background-image: linear-gradient(to right bottom, rgba(224, 213,180, 0.7), rgba(240, 234, 218, 0.7)), url(../resources/mountains_3.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            height: 1000px;
        }

        

    /*________________________________________________________*/
    /*___werk_________________________________________________*/
    /*________________________________________________________*/
    
    .DeelTitle{
        grid-column: 3/6;
        padding-top: 40px;
    }
    
    .Work{
        grid-column: 4/6;
        margin-right: 5%;
        text-align: center;
    
    }
    
    .foto2{
        margin-left: 10%;
        margin-bottom: 20%;
        grid-column: 2/4;
        grid-row: 3/6;
        width: 80%;
        height: 80%
    }
    
/*________________________________________________________*/
/*___progress_____________________________________________*/
/*________________________________________________________*/
            
        .grid-container1 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2,300px);
            padding: 10px;
            border: 0px;
        }

        .progress{
            padding: 20px;
            background-color: rgba(224, 213,180);
            outline: black 1px solid;
            margin-left: 4%;

            text-align: center;

            width: 90%; 
        }
        
        .progressbox{
            padding: 10px;
            background-color: rgba(240, 234, 218);
            outline: black 1px solid;
            height: 190px;
        }

/*________________________________________________________*/
/*___resultaat____________________________________________*/
/*________________________________________________________*/
        
        .resultaat{
            padding: 20px;
            margin-left: 4% ;

            background-color: rgba(224, 213,180);
            outline: black 1px solid;
            text-align: center;

            width: 90%;
        }

        .tekstbox3{
            padding: 10px;
            background-color: rgba(240, 234, 218);
            outline: black 1px solid;
            height: 190px;
        }

        .ster{
            margin-top: 25%;
            color: rgb(252, 252, 89);
        }

/*________________________________________________________*/
/*___samenwerken____________________________________________*/
/*________________________________________________________*/
        
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1,500px);
            padding: 2px;
          }

        .samengewerkt{
            text-align: center;
            padding-top: 50%;
        }    
          
        .grid-item {
            background-color:rgb(236, 190, 63);
            border: 1px solid rgba(1, 1, 1, 1);
            padding: 20px;
            font-size: 40px;
            text-align: center;
        
            grid-column: 1/2;
          }
        
        
          .grid-item2 {
            background-color:rgb(236, 190, 63);
            border: 1px solid rgba(1, 1, 1, 1);
            padding: 20px;
            font-size: 40px;
            text-align: center;
        
            grid-column: 3/4;
          }
    
    
            
    /*________________________________________________________*/
    /*___Header_______________________________________________*/
    /*________________________________________________________*/
    
    header {
        display: flex;
        flex-direction: row;
        background-color: rgba(224, 213,180);
        width: 1024px;
      }
    
      .name{
          display: block;
           float:  right;
    
           padding: 25px 1%;
           margin-top: 2px;

           font-size: 30px;
           font-family: 'Monotype Corsiva', 'Calibri italic';
    
           text-decoration: none;
           color: black;
           font-family: ;
       }
    
      .BtnNavi{
    
          display: block;
          float: left;
    
          padding: 25px 1%;
          margin-right: 2%;
    
          font-size: 20px;
    
          text-decoration: none;
          color: black;
      }

      .BtnNaviIcon{

        display: block;
        float: left;
    
        padding: 5px 1%;
    
        text-decoration: none;
        color: black;
    }
    
    .BtnNaviIcon:hover{
        background-color: rgba(240, 234, 218);
    
        animation-name: hover;
        animation-duration: 1s;
    }
    
        
/*________________________________________________________*/
/*___werk_________________________________________________*/
/*________________________________________________________*/
        .DeelTitle{
            grid-column: 3/6;
            padding-top: 80px;
        }
    
        .Work{
            margin-right: 13%;
            grid-column: 4/6;
    
            text-align: center;
    
        }
    
        .foto2{
            margin-left: 10%;
            grid-column: 2/4;
            grid-row: 3/6;
            width: 80%;
            height: 80%
        }
    }