
/*donkerbruine kleurRGB: 224, 213,180
  lichtbruine kleur:RGB: 240, 234, 218*/

/*________________________________________________________*/
/*___setup________________________________________________*/
/*________________________________________________________*/

* {
margin: 0;
padding: 0;

font-family: 'Myriad Pro', 'Arial';
}

/*________________________________________________________*/
/*___Header_______________________________________________*/
/*________________________________________________________*/

header {
  display: flex;
  flex-direction: row;
  background-color: rgba(224, 213,180);
}

.name{
    display: block;
     float:  right;

     padding: 25px 50px;
     margin-top: 2px;
     margin-right: 100px;
     margin-left: 10px;

     font-size: 30px;
     font-family: 'Monotype Corsiva', 'Calibri italic';

     text-decoration: none;
     color: black;
     font-family: ;
 }

.BtnNavi{

    display: block;
    float: left;

    padding: 25px 50px;
    margin-right: 100px;

    font-size: 20px;

    text-decoration: none;
    color: black;
}

.BtnNavi:hover{
    background-color: rgba(240, 234, 218);

    animation-name: hover;
    animation-duration: 1s;
}

/*________________________________________________________*/
/*___achtergrond__________________________________________*/
/*________________________________________________________*/

.Background{
    background-image: linear-gradient(to right bottom, rgba(224, 213,180, 0.7), rgba(240, 234, 218, 0.7)), url(../resources/mountains_3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
}

/*________________________________________________________*/
/*___bovendeel____________________________________________*/
/*________________________________________________________*/
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
}

.porfielfoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background-color: rgba(224, 213,180);
    padding: 10px;
    margin: 10px 20px;
}

/*_________________________________________*/
/*___tekstbox1_____________________________*/
/*_________________________________________*/

.title{
    grid-column: 2/4;
    padding: 5px;
    margin: 30px;
    text-align: center;
}

.ouline{
    padding: 10px;
    background-color: rgba(240, 234, 218);
    outline: black 1px solid;
}

.tekstbox{
    padding: 10px;
    background-color: rgba(224, 213,180);
    outline: black 1px solid;
    
}

/*_________________________________________*/
/*___tekstbox2_____________________________*/
/*_________________________________________*/

.title2{
    grid-column: 4/6;
    padding: 5px;
    margin: 30px;
    text-align: center;
}

.tekstbox2{
    padding: 10px;
    background-color: rgba(224, 213,180);
    outline: black 1px solid;
    
}

/*_________________________________________*/
/*___personal info_________________________*/
/*_________________________________________*/

.Personal{
    margin-top: 50px;
    margin-left: 10px;
    grid-row: 2/6;

    background-color: rgba(240, 234, 218);
    text-align: center;
    outline: black 1px solid;
}

.Vak1{
    margin-left: 25px;
    
    width: 80%;
    height: 170px;
    background-color: rgba(224, 213,180);
    outline: black 1px solid;
}

.Leeftijd{
    margin-top: 20px;
    margin-left: 25px;
    
    width: 80%;
    
    background-color: rgba(224, 213,180);
    outline: black 1px solid;
}

.Info{
    margin-top: 20px;
    margin-left: 25px;
    
    width: 80%;
    height: 270px;

    background-color: rgba(224, 213,180);
    outline: black 1px solid;

    text-align: left;
}

/*________________________________________________________*/
/*___werk_________________________________________________*/
/*________________________________________________________*/

.DeelTitle{
    grid-column: 3/6;
    padding-top: 80px;
}

.Work{
    grid-column: 4/6;

    text-align: center;

}

.foto2{
    margin: 10%;
    grid-column: 2/4;
    grid-row: 3/6;
    width: 80%;
    height: 80%
}

/*________________________________________________________*/
/*___animations___________________________________________*/
/*________________________________________________________*/

@keyframes hover{
    from{ background-color: rgba(224, 213,180);}
    to { background-color: rgba(240, 234, 218);}
}
