*{
  
box-sizing: border-box;
font-family: 'Myriad Pro', 'Arial';

background-color:rgb(240, 234, 218)
}

.flex-container{
display: flex;
flex-direction: row;
font-size: 300px; 
text-align: center;

position: absolute;left: 130px;
}

.flex-item{

background-color: rgb(240, 234, 210);

}

.resultaat{
    position: absolute; left: 840px; bottom: 300px;
    
}

.samengewerkt{
position: absolute;bottom: -100px;left: 830px;


}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,200px);
    background-color: rgb(240, 234, 218);
    padding: 10px;
    border: 0px;
  }
  
  .grid-item {
    background-color:rgb(236, 190, 63);
    border: 1px solid rgba(1, 1, 1, 1);
    padding: 20px;
    font-size: 40px;
    text-align: center;

    grid-row: 4/6;
  }


  .grid-item2 {
    background-color:rgb(236, 190, 63);
    border: 1px solid rgba(1, 1, 1, 1);
    padding: 20px;
    font-size: 40px;
    text-align: center;

    grid-row: 4/-2;
  }