.BtnNaviIcon{

    display: block;
    float: left;

    padding: 5px 10px;
    margin-right: 10px;

    text-decoration: none;
    color: black;
}

.BtnNaviIcon:hover{
    background-color: rgba(240, 234, 218);

    animation-name: hover;
    animation-duration: 1s;
}
