*{
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro', 'Arial';
  background-color: rgba(240, 234, 218);
}

h1{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Monotype Corsiva', 'Calibri italic';
  font-size: 40px;
}


li {
  margin-left: 30px;
  font-size: 20px;
}
.Btn:link,
.Btn:visited {
  display: inline-block;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.Btn:hover,
.Btn:active {
  background-color: rgba(224, 213,180);
}
